/*	   typography   	*/

$body-font: 'Roboto', sans-serif;

$fs-body: 14px;
$lh-body: 20px;

$fs-h1: 30px;
$lh-h1: 34px;

/*	   end  typography   	*/


/*	   color   	*/

$body-color: #666;
$grey-color: #b2b2b2;
$grey2-color: #808080;
$grey3-color: #ccc;
$grey4-color: #b3b3b3;
$grey5-color: #d8d6d6;
$logo-color: #4d4d4d;
$black-color: #000;
$blue-color: #1875f0;
$star-color: #f9a72d;
$footer-color: #b8b8b8;

/*	   end  color   	*/


/*	   background   	*/

$body-bg: #fff;
$black-bg: #000;
$blue-bg: #1875f0;
$grey-bg: #808080;
$grey-bg2: #f7f7f7;
$grey-bg3: #d8d6d6;

/*	   end  background   	*/


 /*	   border   	*/

$border-color: #f5f5f5;

/*	   end  border   	*/